body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: black;
}
  
#sidebar {
    background-color: black;
    color: #fff;
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    box-shadow: 2px 0 0 0 #24e0ff;
}
  
#sidebar img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 5px solid #24e0ff;
}
  
#sidebar ul {
    list-style: none;
    padding: 0;
}
  
#sidebar li {
    margin-bottom: 10px;
}
  
#sidebar li a {
    color: #fff;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
#sidebar li a:hover {
    background-color: #555;
}
  
#content {
    margin-left: 240px;
    padding: 20px;
}

.project-card {
    border: 1px solid #24e0ff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
}
  
.project-card a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
}
  
.project-card img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}
  
.project-info {
    flex: 1;
}
  
.project-info h2 {
    font-size: 20px;
    margin-bottom: 5px;
}
  
.project-info p {
    font-size: 14px;
}

#headstyle{
    background-color: black;
    color: #fff;
}